@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Sansita+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body { 
/*background: url('../img/bg-pic.jpg') no-repeat center center fixed;*/
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}  

.contbox {
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 40px 70px 40px;
  margin-top: 10%;
}

h1,h2 {
  font-family: 'Sansita One', cursive;
  color: white;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.names-desktop { font-family: 'Playball', cursive; font-size: 38px; color: white; }
.names-tablet { font-family: 'Playball', cursive; font-size: 34px; color: white; }
.names-mobile { font-family: 'Playball', cursive; font-size: 26px; color: white; }

.date-desktop { font-size: 32px; color: white; font-style: italic; }
.date-tablet { font-size: 28px; color: white; font-style: italic; }
.date-mobile { font-size: 20px; color: white; font-style: italic; }`